<div class="login-page">
  <div class="overlay">
    <div class="hero-section">
      <div class="hero-content">
        <h2>Bienvenido</h2>
        <p>Explora el mundo del cafe</p>
      </div>
    </div>

    <div class="login-container">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Member Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <mat-form-field appearance="outline" class="full-width dark-field">
              <input matInput type="text" formControlName="username" placeholder="Enter your email">
              <mat-icon matPrefix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width dark-field">
              <input matInput type="password" formControlName="password" placeholder="Enter your password">
              <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width dark-field" floatLabel="never">
              <mat-select formControlName="rol" placeholder="Tipo de Usuario">
                <mat-option value="pesocabal">Administrador</mat-option>
                <mat-option value="agricultor">Agricultor</mat-option>
                <mat-option value="ingenio">Ingenio</mat-option>
              </mat-select>
              <mat-icon matPrefix>business</mat-icon>
            </mat-form-field>

            <div class="form-options">
              <a href="#">Forgot Password?</a>
            </div>

            <button mat-flat-button class="login-button" type="submit" [disabled]="loginForm.invalid">
              Login
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
